/*body {
    background: url('https://media.giphy.com/media/3o7WTDJQVuYwhhuLhC/giphy.gif') !important;
   
  }
   
  #masthead,
  #primary {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #fff;
    padding: 20px !important;
  }
  #masthead {
    background: none;
  }
  #masthead img, #primary img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }*/
/* #mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1 !important;
  border: 1px solid #d3d3d3;
  text-align: center;
} */
